In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv(r"C:\Users\Ajay\Downloads\DataVisualisationCA1-main\DataVisualisationCA1-main\SharkTankV1.csv")

In [3]:
data1

,Season Number,Episode Number,Pitch Number,Startup Name,Industry,Business Description,Pitchers Gender,Pitchers State,Pitchers City,Entrepreneur Names,...,Guest Investment Amount,BarbaraCorcoran Present,MarkCuban Present,LoriGreiner Present,RobertHerjavec Present,DaymondJohn Present,KevinOLeary Present,KevinHarrington Present,Guest Name,Notes
0,1,1,1,AvaTheElephant,Health / Wellness,Ava The Elephant - Baby and Child Care,Female,GA,Atlanta,Tiffany Krumins,...,0.0,1,0,0,1,1,1,1,0,0
1,1,1,2,Mr.Tod'sPieFactory,Food and Beverage,Mr. Tod's Pie Factory - Specialty Food,Male,NJ,Somerset,Tod Wilson,...,0.0,1,0,0,1,1,1,1,0,0
2,1,1,3,Wispots,Business Services,Wispots - Consumer Services,Male,NC,Cary,Kevin Flannery,...,0.0,1,0,0,1,1,1,1,0,0
3,1,1,4,CollegeFoxesPackingBoxes,Lifestyle / Home,College Foxes Packing Boxes - Consumer Services,Male,FL,Tampa,"Nick Friedman, Omar Soliman",...,0.0,1,0,0,1,1,1,1,0,0
4,1,1,5,IonicEar,Software / Tech,Ionic Ear - Novelties,Male,MN,St. Paul,Darrin Johnson,...,0.0,1,0,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,11,23,987,RescueReady,Lifestyle/Home,Rescue Ready -,Male,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,0,0,0
987,11,24,988,YellowLeafHammocks,Fitness/Sports/Outdoors,Yellow Leaf Hammocks -,Mixed Team,NaN,NaN,NaN,...,1000000.0,0,0,0,0,0,0,0,0,0
988,11,24,989,DreamlandBaby,Children/Education,Dreamland Baby -,Female,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,0,0,0
989,11,24,990,RollinGreens,Food and Beverage,RollinGreens -,Mixed Team,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,0,0,0
990,11,24,991,TheMadOptimist,Health/Wellness,The Mad Optimist -,Male,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,0,0,0

In [4]:
Df1 = data1.drop(['Episode Number','Pitch Number','Business Description','Company Website', 'Royalty Deal','Loan','Guest Name','Notes',"Guest Investment Amount","BarbaraCorcoran Present","MarkCuban Present","LoriGreiner Present","RobertHerjavec Present","DaymondJohn Present","KevinOLeary Present","KevinHarrington Present"], axis=1)
Df1.head()

,Season Number,Startup Name,Industry,Pitchers Gender,Pitchers State,Pitchers City,Entrepreneur Names,Multiple Entrepreneurs,Original Ask Amount,Original Offered Equity,...,Total Deal Equity,Deal Valuation,Number of sharks in deal,Investment Amount Per Shark,Barbara Corcoran Investment Amount,Mark Cuban Investment Amount,Lori Greiner Investment Amount,Robert Herjavec Investment Amount,Daymond John Investment Amount,Kevin O Leary Investment Amount
0,1,AvaTheElephant,Health / Wellness,Female,GA,Atlanta,Tiffany Krumins,0,"50,000",15.0,...,55.0,"90,909",1,50000.0,50000,0.0,0.0,0.0,0,0.0
1,1,Mr.Tod'sPieFactory,Food and Beverage,Male,NJ,Somerset,Tod Wilson,0,"4,60,000",10.0,...,50.0,"9,20,000",2,230000.0,230000,0.0,0.0,0.0,230000,0.0
2,1,Wispots,Business Services,Male,NC,Cary,Kevin Flannery,0,"12,00,000",10.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
3,1,CollegeFoxesPackingBoxes,Lifestyle / Home,Male,FL,Tampa,"Nick Friedman, Omar Soliman",0,"2,50,000",25.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
4,1,IonicEar,Software / Tech,Male,MN,St. Paul,Darrin Johnson,0,"10,00,000",15.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0

In [5]:
Df1['Industry'] = Df1['Industry'].str.replace(' / ', '/')

In [6]:
Df1

,Season Number,Startup Name,Industry,Pitchers Gender,Pitchers State,Pitchers City,Entrepreneur Names,Multiple Entrepreneurs,Original Ask Amount,Original Offered Equity,...,Total Deal Equity,Deal Valuation,Number of sharks in deal,Investment Amount Per Shark,Barbara Corcoran Investment Amount,Mark Cuban Investment Amount,Lori Greiner Investment Amount,Robert Herjavec Investment Amount,Daymond John Investment Amount,Kevin O Leary Investment Amount
0,1,AvaTheElephant,Health/Wellness,Female,GA,Atlanta,Tiffany Krumins,0,"50,000",15.0,...,55.0,"90,909",1,50000.0,50000,0.0,0.0,0.0,0,0.0
1,1,Mr.Tod'sPieFactory,Food and Beverage,Male,NJ,Somerset,Tod Wilson,0,"4,60,000",10.0,...,50.0,"9,20,000",2,230000.0,230000,0.0,0.0,0.0,230000,0.0
2,1,Wispots,Business Services,Male,NC,Cary,Kevin Flannery,0,"12,00,000",10.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
3,1,CollegeFoxesPackingBoxes,Lifestyle/Home,Male,FL,Tampa,"Nick Friedman, Omar Soliman",0,"2,50,000",25.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
4,1,IonicEar,Software/Tech,Male,MN,St. Paul,Darrin Johnson,0,"10,00,000",15.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,11,RescueReady,Lifestyle/Home,Male,NaN,NaN,NaN,0,"75,000",15.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0.0
987,11,YellowLeafHammocks,Fitness/Sports/Outdoors,Mixed Team,NaN,NaN,NaN,0,"4,00,000",7.0,...,25.0,"40,00,000",1,1000000.0,0,0.0,0.0,0.0,0,0.0
988,11,DreamlandBaby,Children/Education,Female,NaN,NaN,NaN,0,"1,00,000",10.0,...,22.5,"4,44,444",1,100000.0,0,0.0,100000.0,0.0,0,0.0
989,11,RollinGreens,Food and Beverage,Mixed Team,NaN,NaN,NaN,0,"5,00,000",10.0,...,20.0,"25,00,000",1,500000.0,0,0.0,0.0,500000.0,0,0.0
990,11,TheMadOptimist,Health/Wellness,Male,NaN,NaN,NaN,0,"60,000",10.0,...,20.0,"3,00,000",1,60000.0,0,60000.0,0.0,0.0,0,0.0

In [7]:
Df1.to_csv('SharkTankV3.csv', index = False)